/*
h1 {
    color: rgba(247, 0, 255, 0.706);
    background-color:rgba(144, 197, 46, 0.719);
    text-align: center;
    border-style: dashed;
    border-color: aquamarine;
    border-width: 5px;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 20px;

}
 */
h1 {
    color: royalblue
}
.title {
    background-color:lightpink
}
#important {
    color:olivedrab
}